<app-titles title="Cart Page" margin="1.5rem 0 0 2.5rem"></app-titles>
<app-page-not-found [isVisible]="!cart() || !cart()?.items?.length" pageNotFoundMessage="Cart Page is empty!!"
    resetLinkText="Go To HomePage"></app-page-not-found>

@if (cart() && cart()?.items?.length) {
<div class="container">
    <ul>
        @for(cartItem of cart()?.items;track cartItem){
        <li *ngFor="let cartItem of cart()?.items">
            <div>
                <img [src]="cartItem.food.imageUrl" alt="cart()Item.food.name">
            </div>
            <div>
                <a [routerLink]="['/food/{{cart()Item.food.id}}']">{{cartItem.food.name}}</a>
            </div>
            <div>
                <select #quantitySelect [value]="cartItem?.quantity"
                    (change)="changeQuantity(cartItem,quantitySelect.value)" name="" id="">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div>{{cartItem?.price |currency}}</div>
            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">Remove</button>
            </div>
        </li>
        }

    </ul>
    <div class="checkout">
        <div>
            <div class="foods-count">
                {{cart()?.totalCount}}
            </div>
            <div class="total-price">{{cart()?.totalPrice|currency}}</div>
        </div>
        <a routerLink="/checkout">Proceed to Checkout</a>
    </div>
</div>
}