$primary-color: blue;
$secondary-color: white;
$hover-background-color: black;
$hover-text-color: white;
$border-color: blue;
$badge-background-color: blue;
$badge-text-color: white;
$checkout-button: red;
$grey-color: grey;
